:root {
	--background-color: black;
}
@property --M {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 0%;
}
body {
	margin: 0;
	background: var(--background-color);
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.scene {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotateX(70deg);
	transform: rotateY('70deg');
	transform-style: preserve-3d;
}
span {
	position: relative;
	width: calc(100% / 5);
	aspect-ratio: 1;
	display: inherit;
	align-items: center;
	justify-content: inherit;
	transform: rotateX(-52deg);
	filter: drop-shadow(0 3px 20px #fff)
		drop-shadow(0 2px 5px rgba(0, 229, 255, 0.7));
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 60px;
		margin: auto;
		width: 4px;
		height: 300vh;
		background: rgba(255, 255, 255, 0.7);
		mask: 200px linear-gradient(to bottom, white var(--M), transparent 0%);
	}
	i {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: radial-gradient(circle, transparent 50%, white 90%);
		transform: scale(0);
		box-shadow: 0 0 5px 5px white, inset 0 0 5px 5px white;
	}
	&.active {
		&:before {
			animation: light 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
		}
		i {
			animation: wave 0.9s 2.2s linear forwards;
			animation-delay: calc((sqrt(var(--j)) - 0.7) * 0.7s);
		}
	}
}
.hh1{
		font-size: 4em;
		color: #000000;
		animation: glow 2.2s infinite alternate;
}

.top-header {
    top: 9%;
	position: fixed;
    width: 100%;
	min-height: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	background: var(--background-color);
	perspective: 900px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.top-header a {
	color: #000000;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin: 0 1em;
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	transition: 2.0s;
	overflow: hidden;
	z-index: 1;
}

.top-header a::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background: #000;
	transition: 0.2s;
	transform: translateX(-100%);
}

.top-header a:hover::before {
	transform: translateX(0);
}

.top-header a:hover {
	color: #fff;
}

.top-header a::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #000;
	transition: 0.2s;
	transform: translateX(100%);
}

.top-header a:hover::after {
	transform: translateX(0);
}

.top-header a:nth-child(1) {
	--j: 1;
}

.top-header a:nth-child(2) {
	--j: 2;
}

.top-header a:nth-child(3) {
	--j: 3;
}

.top-header a:nth-child(4) {
	--j: 4;
}

.top-header a:nth-child(5) {
	--j: 5;
}

.top-header .scene {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotateX(70deg);
	transform-style: preserve-3d;
}

.top-header span {
	position: relative;
	width: calc(100% / 5);
	aspect-ratio: 1;
	display: inherit;
	align-items: center;
	justify-content: inherit;
	transform: rotateX(-52deg);
	filter: drop-shadow(0 3px 20px #fff)
		drop-shadow(0 2px 5px rgba(0, 229, 255, 0.7));
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 60px;
		margin: auto;
		width: 4px;
		height: 300vh;
		background: rgba(255, 255, 255, 0.7);
		mask: 200px linear-gradient(to bottom, white var(--M), transparent 0%);
	}
	i {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: radial-gradient(circle, transparent 50%, white 90%);
		transform: scale(0);
		box-shadow: 0 0 5px 5px white, inset 0 0 5px 5px white;
	}
	&.active {
		&:before {
			animation: light 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
		}
		i {
			animation: wave 0.9s 2.2s linear forwards;
			animation-delay: calc((sqrt(var(--j)) - 0.7) * 0.7s);
		}
	}
}

.hh1{
		font-size: 4em;
		color: #000000;
		animation: glow 2.2s infinite alternate;
}

.top-header {
	top: 9%;
	position: fixed;
	width: 100%;
	min-height: 60px;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 1em 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	background: var(--background-color);
	perspective: 900px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.top-header a {
	color: #000000;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin: 0 1em;
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	transition: 0.2s;
	overflow: hidden;
	z-index: 1;
}

.top-header a::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background: #000;
	transition: 0.2s;
	transform: translateX(-100%);
}

.top-header a:hover::before {
	transform: translateX(0);
}





@keyframes wave {
	0% {
		opacity: 1;
		transform: translateY(0) scale(0);
	}
	100% {
		opacity: 0;
		transform: translateY(calc(pow(var(--j), 0.5) * 9px))
			scale(calc(sqrt(var(--j)) * 1));
	}
}
@keyframes light {
	45% {
		--M: 20%;
		opacity: 1;
	}
	85% {
		opacity: 2;
		--m: 0%;
	}
	100%{
		opacity: 5;
		--m:0%;
	}
}
@keyframes glow {
    50% {
        text-shadow: 0 0 2px #00bfff, 0 0 3px #00bfff, 0 0 7px #00bfff, 0 0 10px #00bfff, 0 0 12px #00bfff, 0 0 5px #00bfff, 0 0 7px #00bfff;
    }
    75% {
        text-shadow: 0 0 2px #1e90ff, 0 0 3px #1e90ff, 0 0 7px #1e90ff, 0 0 10px #1e90ff, 0 0 20px #1e90ff, 0 0 5px #1e90ff, 0 0 7px #1e90ff;
    }
	100%{
		text-shadow: 0 0 10px #095169, 0 0 3px #095169, 0 0 7px #095169, 0 0 10px #095169, 0 0 12px #095169, 0 0 5px #095169, 0 0 7px #095169;

	}
}